.original {
  display: block;
  margin: 0 auto;
}
.filters {
  position: fixed;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.filters canvas {
  display: inline;
}
.hidden {
  display: none;
}
input {
  display: block;
  margin: 0 auto;
}
input[type=file] {
  margin: 400px auto;
}
button {
  display: block;
  margin: 0 auto;
  font-size: large;
  width: 200px;
  margin-top: 20px;
}
#flash {
  margin-top: 20px;
  text-align: center;
  font-size: large;
  font-family: monospace;
}
